.App {
  text-align: center;
}
main {
  width: 500px;
  height:300px;
  background-color: #eee;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-family: sans-serif;
}
button {
  background-color: red;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
#display-timer {
  font-size: 4rem;
  font-weight: bold;
  margin: 10px;
}