
main {
  width: 500px;
  height:350px;
  background-color: #eee;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  color: rgb(25, 60, 61);
}

button {
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  margin-top: 20px;
}

.card-box {
  padding: 50px 10px;
  border: 10px solid #7fd8e6;
  border-radius: 12px;
  background-color: #ddf2f5;
}

#display-timer {
  font-size: 4rem;
  font-weight: bold;
  margin: 10px;
}

.stop {
  background-color: darkred;
  color:white;
}
.resume {
  background-color: cadetblue;
  color: aliceblue;
}